<!DOCTYPE html>
<html>
<head>
  <title>Meu Cutter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      margin-top: 100px;
    }
        .alert-custom {
      font-size: 20px; font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container col-4 text-center">
    <h1>Meu Cutter</h1>
    <h3>Gere sua notação de autor</h3>
    <div class="form-group">
      <label for="inputPrincipal">Insira a Entrada Principal</label>
      <input type="text" class="form-control" id="inputPrincipal" placeholder="Sobrenome, Nome">
    </div>
    <button type="button" class="btn btn-success">Gerar código Cutter</button>
    <div class="alert alert-success alert-custom mt-3" role="alert" style="display: none">
      Código Cutter gerado com sucesso!
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('button').click(function() {
        $('.alert').show();
      });
    });
  </script>
</body>
</html>
