{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Meu Cutter{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Meu Cutter </h1>
        <h3>Obtenha a notação de autor para seu número de chamada!<h3>
    </div>
    {{ wtf.quick_form(form) }}
    <br/>
    {% if codigo  %}
        <h4 class="bg-success">O código Cutter gerado para {{ entrada }} é: {{ codigo }}</h4>
    {% endif %}
</div>
{% endblock %}

